<!DOCTYPE html>
<html>

<head>
<title>RPS</title>
</head>

<body>
<h2>We played paper!</h2>

<% if @player_pick== "rock" %>
    <h2>They played rock! </h2>
    <h2>We won!</h2>
<% elsif @player_pick == "scissors" %>
    <h2>They played scissors! </h2>
    <h2>We lost!</h2>
<% elsif @player_pick == "paper" %>
    <h2>They played paper! </h2>
    <h2>We tied!</h2>
  <%end%>

<p>
<a href="/">Rules</a>
</p>
</body>

</html>
